<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
            <a class="list-group-item" (click)="toggleMenuCollapsed('Dashboard')">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
            <div class="collapse-menu" [collapse]="showMenu !== 'Dashboard'">
                <a [routerLink]="['/admin']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                    <i class="fas fa-fw fa-arrow-right"></i>
                    <span>Admin</span>
                </a>
                <a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                    <i class="fas fa-fw fa-arrow-right"></i>
                    <span>Teachers</span>
                </a>
                <a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                    <i class="fas fa-fw fa-arrow-right"></i>
                    <span>Students</span>
                </a>
            </div>
            <a class="list-group-item" (click)="toggleMenuCollapsed('Teachers')">
                <i class="fas fa-fw fa-chalkboard-teacher"></i>
                <span>Teachers</span>
            </a>
            <div class="collapse-menu" [collapse]="showMenu !== 'Teachers'">
                <a [routerLink]="['/teachers/all-teachers']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                    <i class="fas fa-fw fa-arrow-right"></i>
                    <span>All Teahers</span>
                </a>
                <a [routerLink]="['/teachers/add-teacher']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                    <i class="fas fa-fw fa-arrow-right"></i>
                    <span>Add Teacher</span>
                </a>
                <a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                    <i class="fas fa-fw fa-arrow-right"></i>
                    <span>Students</span>
                </a>
            </div>
            <a class="list-group-item" (click)="toggleMenuCollapsed('Students')">
                <i class="fas fa-fw fa-user-graduate"></i>
                <span>Students</span>
            </a>
            <div class="collapse-menu" [collapse]="showMenu !== 'Students'">
                <a [routerLink]="['/students/all-students']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                    <i class="fas fa-fw fa-arrow-right"></i>
                    <span>All Students</span>
                </a>
                <a [routerLink]="['/students/add-student']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                    <i class="fas fa-fw fa-arrow-right"></i>
                    <span>Add Student</span>
                </a>
                <a [routerLink]="['/students/promotion']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                    <i class="fas fa-fw fa-arrow-right"></i>
                    <span>Promotion</span>
                </a>
                <a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                    <i class="fas fa-fw fa-arrow-right"></i>
                    <span>Students Promotions</span>
                </a>
            </div>
            <a [routerLink]="['/library']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fas fa-fw fa-book-reader"></i>
                <span>Library</span>
            </a>
            <a [routerLink]="['/account']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fas fa-fw fa-money-check-alt"></i>
                <span>Account</span>
            </a>
            <a [routerLink]="['/subject']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fas fa-fw fa-book"></i>
                <span>Subject</span>
            </a>
            <a [routerLink]="['/attendance']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fas fa-fw fa-sign-in-alt"></i>
                <span>Attendance</span>
            </a>
            <a [routerLink]="['/exams']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fas fa-fw fa-vial"></i>
                <span>Exams</span>
            </a>
            <a [routerLink]="['/transport']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fas fa-fw fa-shuttle-van"></i>
                <span>Transport</span>
            </a>
            <a [routerLink]="['/hostel']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fas fa-fw fa-hotel"></i>
                <span>Hostel</span>
            </a>
            <a [routerLink]="['/notice']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fas fa-fw fa-flag"></i>
                <span>Notice</span>
            </a>
            <a [routerLink]="['/message']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fas fa-fw fa-comment"></i>
                <span>Message</span>
            </a>
    </div>
    
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>
        <span>Hide Sidebar</span>
    </div>
</nav>
