<app-header></app-header>
<section class="main-container">
  <div class="container-fluid d-flex justify-content-center">
    <router-outlet></router-outlet>
    <mat-card class="col-4">
      <div class="login-page">
        <div class="row justify-content-md-center">
          <div class="col">
            <div class="text-center">
                <img src="assets/images/logo.jpeg" class="user-avatar" />
            </div>
            <!-- <h1>Login</h1> -->
            <form role="form">
              <div class="form-content">
                <div class="form-group">
                  <mat-form-field>
                    <input matInput type="text" placeholder="Username" value="">
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput type="password" placeholder="Password" value="">
                  </mat-form-field>

                  <mat-form-field>
                    <mat-select formControlName="acedamicyear" placeholder="Acedamic Year">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let ac_year of acedamic_year" [value]="ac_year.value">
                        {{ac_year.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-select formControlName="institute" placeholder="Institute">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let inst of institute" [value]="inst.value">
                        {{inst.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col text-center">
                  <a mat-raised-button color="primary" class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()">{{ 'Log in' }}</a>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</section>
<app-footer></app-footer>